.footer {
  margin-top: -5rem;

  &__link {
    text-decoration: none;
    transition: all 0.3s;
    &:hover {
      text-decoration: none;
      opacity: 0.7;
    }

    display: inline-block;
    width: 3.5rem;

    @include respondmax(lg) {
      width: 2.7rem;
    }
    @include respondmax(md) {
      width: 2.4rem;
    }

    @include respondmax(sm) {
      display: block;
    }
  }
}
