.footerNav {
  padding: 6rem 0;
  background-color: $color-grey-light;

  @include respondmax(lg) {
    padding: 4.5rem 0;
  }

  @include respondmax(md) {
    padding: 3rem 0;
  }

  &__navbar{
      display: flex;

      @include respondmax(sm){
          display: block;
      }
  }

  &__item{
    width: 16rem;
    text-align: center;
  }

/*   &__item:not(:first-child) {
    margin-left: 5.5rem;

    @include respondmax(lg) {
      margin-left: 3.5rem;
    }
    @include respondmax(md) {
      margin-left: .5rem;
    }
    @include respondmax(sm) {
        margin-left: 0;
      }
  } */
}
