.news{
    background: url('../../img/newsback.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 6rem 0;

    &__slider{
        margin-top: 6rem;

        & div{
            margin-left: .5rem;
        }
    }
}