.langDropdown {
  background-color: $color-secondary;
  border-radius: 1.2rem;
  width: 3.2rem;
  height: 3rem;
  text-align: center;
  line-height: 2.2;
  transition: all .3s;
  position: relative;
  margin-top: 1.3rem;

  @include respondmax(md) {
    border-radius: 0.8rem;
    width: 2.2rem;
    height: 2rem;
    line-height: 2;
  }

  &__az {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    margin-right: 0;
    transition: all .3s;
    @include respondmax(md) {
      font-size: 1rem;
    }

    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }

  &__link {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $color-white;
    text-decoration: none;
    display: block;
    background-color: $color-secondary;
    transition: all 0.3s;
    border-radius: 1rem;
    margin-top: .5rem;
    width: 7rem;
    border: 1px solid $color-secondary;

    &:hover {
      color: $color-secondary;
      text-decoration: none;
      background-color: $color-white;
    }

    @include respondmax(md) {
      font-size: 1rem;
    }
  }

  &:hover {
    background-color: $color-secondary;

    & .langContent {
      display: block;
    }
  }
}

.langContent {
  position: absolute;
  width: 3.2rem;
  display: none;
  background-color: transparent;
  right: 1.5rem;

  @include respondmax(md) {
    width: 2.2rem;
  }
}
