<header class="header">
    <div class="container">
        <nav class="myNavbar">
            <button class="search__button">
                <img src="img/search-icon.png" class="img-fluid" alt="">
            </button>
            <ul class="myNav  nav mx-auto">

                <li class="myNav__item ">
                    <a class="myNav__link " href="index.html">Ana Səhifə</a>
                </li>
                <li class="myNav__item">
                    <a class="myNav__link active" href="#">haqqımızda</a>
                </li>
                <li class="myNav__item">
                    <a class="myNav__link" href="#">məhsullar</a>
                </li>
                <li class="myNav__item myNav__item--1">
                    <a class="myNav__link myNav__link--logo" href="index.html">
                        <img src="img/logo.png" class="img-fluid" alt="">
                    </a>
                </li>
                <li class="myNav__item">
                    <a class="myNav__link" href="#">brendlər</a>
                </li>
                <li class="myNav__item">
                    <a class="myNav__link" href="carier.html">kariyera</a>
                </li>
                <li class="myNav__item">
                    <a class="myNav__link" href="contact.html">əlaqə</a>
                </li>

            </ul>
            <div class="langDropdown">
                <a href="#" class="langDropdown__az" title="">
                    az
                </a>
                <div class="langContent">
                    <a href="#" class="langDropdown__link" title="">
                        en
                    </a>
                    <a href="#" class="langDropdown__link" title="">
                        ru
                    </a>

                </div>
            </div>
        </nav>
        <div class="mobMenu" id="wrapper">
            <div class="menu">
                <ul class="mob">
                    <li class="mob__item"><a class="mob__link" href="index.html">Ana səhifə</a></li>
                    <li class="mob__item"><a class="mob__link" href="#">haqqımızda</a></li>
                    <li class="mob__item"><a class="mob__link" href="#">məhsullar</a></li>
                    <li class="mob__item"><a class="mob__link" href="#">brendlər</a></li>
                    <li class="mob__item"><a class="mob__link" href="#">kariyera</a></li>
                    <li class="mob__item"><a class="mob__link" href="contact.html">əlaqə</a></li>
                </ul>
            </div>
            <div class="content">
                <div class="button">
                    <div class="line first top"></div>
                    <div class="line second bottom"></div>
                </div>
            </div>
            <div class="mobMenu__langs">
                <button class="search__button">
                    <img src="img/search-icon.png" class="img-fluid" alt="">
                </button>
                <div class="langDropdown">
                    <a href="#" class="langDropdown__az" title="">
                        az
                    </a>
                    <div class="langContent">
                        <a href="#" class="langDropdown__link" title="">
                            en
                        </a>
                        <a href="#" class="langDropdown__link" title="">
                            ru
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>