.brends {


  &__top {
    height: 35rem;
    width: 100%;
    background-image: linear-gradient(rgba($color-dark, 0.3), rgba($color-dark, 0.3)), url("../../img/career-img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__linkGroup {
    padding: 5rem 0;
  }
}
